
.reset{
    padding: 0;
    margin:0;
}
.top-conter{
    position: absolute;
    margin-top:75vh;
    margin-left:200px;
    width:20vh;
    color:wheat;
	background:#d4ede61c;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
}
.card{
    position: absolute;
    text-align: center;
    margin-top:20vh;
    margin-left:10px;
    border-radius: 20px;
	width:50vh;
    height: 50vh;
    color:wheat;
	background:#d4ede61c;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 10;
}
.card span{
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 5px 5px 5px #918989;
}
.card div{
    height:10%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content:center;
}
.card div:hover{
    width: 100%;
    background-color:#d4ede607;  
}
a {
    text-decoration: none;
    color:wheat;
}